@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #EFE6DD;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: #FFF;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.food-donor{
  background: #3a1e4d;
  color: white;
}
.btn img{
  width: 20px;
  margin-left: 10px;
}
.btn.dark-btn{
  background: #6D597A;
  color: #fff;
}

/* ----- media query ----------- */

@media (max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
}


.App {
    margin: 40px auto;
    margin-left: 50px;
    max-width: 90%;
    align-content: center;
    border-width: 1px;
    padding: 40px;
    border-radius: 20px;
    background-color: #f7f3ef;
    box-shadow: 2px 2px 3px;
}

.form-group label, .map-search{
    font-size: 20px;
    flex-basis: 48%;
    color: #6D597A;
}

.form-group input[type="checkbox"]{
    width: auto;
    margin-right: 10px;
    margin-bottom: 3px;
    margin-top: 15px;
    border-radius: 50%; 
}

.form-select{
    padding: 5px;
    margin: 20px;
    background-color: #fef6eb;
    border-radius: 20px;
    color: #6D597A;
}

.form-control, .form-group input[type="text"]{
    display: block;
    width: 60%;
    background: #fef6eb;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 0.3px inset;
  }

.checkbox-container{
    display: block;
    margin-bottom: 10px;
}

.checkbox-supercontainer{
    display: block; /* - */
}

.map-bottom{
    padding-bottom: 15px;
}

.titlef{
  margin-left: -200px;

}

.textf{
  margin: 18px;
}